:root {
  --textLarge: 2.2rem;
  --textMedium: 1.7rem;
  --textSmall: 1rem;
  --textXSmall: 0.85rem;
  --textXXSmall: 0.75rem;
  --primary: #51b4a0;
  --secondary: #4e8579;
  --textDark: #000000;
  --textLight: #ffffff;
  --textGrey: #f4f4f4;
  --textFaded: #8bc4b8;
  --shadow: #a2a2a2;
}

* {
  margin: 0;
  padding: 0;
}

header {
  height: 2rem;
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: var(--textMedium);
}

header > * {
  margin: 0 1rem;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Acme, Arial, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

main {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

input,
button {
  padding: 0.5rem;
}

button {
  margin: 0.5rem;
}

.delete {
  width: fit-content;
}

.input {
  display: flex;
  gap: 1rem;
}

.list {
  padding: 0.5rem;
}

ul {
  margin: 1rem;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 32.5em) {
  h1 {
    font-size: 2rem;
  }

  main {
    width: 320px;
  }
}
