:root {
  --primaryLight: #628395;
  --primaryDark: #526b7a;
  --accentLight: #ccdce0;
  --accentDark: #2c262c;
  --warn: #ff0000;
  --textDark: #2c262c;
  --textLight: #ccdce0;

  --textXSmall: 0.8rem;
  --textSmall: 1rem;
  --textMedium: 1.2rem;
  --textLarge: 1.4rem;
  --textXLarge: 1.6rem;
  --shadow: #3a4e59;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0.5rem;
}

h1 {
  font-size: var(--textXLarge);
  color: var(--textDark);
}

h2 {
  font-size: var(--textLarge);
  color: var(--textDark);
}

h3 {
  font-size: var(--textMedium);
  color: var(--textDark);
}

h4 {
  font-size: var(--textSmall);
  color: var(--textDark);
}

h5 {
  font-size: var(--textXSmall);
  color: var(--textDark);
}

p {
  font-size: var(--textSmall);
  color: var(--textDark);
}

a {
  color: var(--textDark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

i {
  color: var(--textDark);
  font-size: var(--textLarge);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hero-img {
  background: url("./../images/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

.hero-img::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 667px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

img {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  height: 10rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryLight);
  align-items: center;
  width: 100%;
  height: 3rem;
  z-index: 1;
}

nav > * {
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accentLight);
  width: 100%;
  height: 75px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  background-color: var(--primaryLight);
  color: var(--textDark);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: var(--textSmall);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primaryDark);
}

.btn:active {
  background-color: var(--primaryLight);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.card {
  margin: 1rem;
  width: 90%;
  height: 300px;
  border: 1px solid var(--accentDark);
  text-align: center;
}

.localPhotos > .card {
  margin: 0;
  width: 100%;
  height: 400px;
  background-color: var(--primaryLight);
  border: none;
}

.localPhotos > .card > img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.localPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

#footer-contact-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer-contact-information > * {
  text-align: center;
  padding: 0;
  margin: 0;
}

.join {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.join > * {
  margin: 1rem;
}

.join > form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form label {
  margin-top: 1.5rem;
}

.tiers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tier {
  display: flex;
  flex-direction: column;
  height: 300px;
  border: 1px solid var(--accentDark);
}

input {
  border: none;
  border-bottom: 1px solid var(--accentDark);
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  font-size: var(--textSmall);
}

input:valid {
  border-left: 3px solid var(--primaryLight);
}

input:invalid {
  border-left: 3px solid var(--warn);
}

textarea:valid {
  border-left: 3px solid var(--primaryLight);
}

textarea:invalid {
  border-left: 3px solid var(--warn);
}

input:focus {
  outline: none;
}

.radios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: baseline;
  gap: 1rem;
}

input[type="radio"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

textarea {
  border: 1px solid var(--accentDark);
  padding: 0.5rem;
  font-size: var(--textSmall);
  resize: none;
}

textarea:focus {
  outline: none;
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
