@media (min-width: 760px) {
  .hero-img::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .card {
    margin: 1rem;
    width: 25%;
  }

  .discoverContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 1rem;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .localPhotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .localPhotos > *:hover {
    animation: pop 0.2s alternate ease-in-out forwards;
  }

  footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75px;
  }

  section > form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
  }

  .verticalDivider {
    width: 5px;
    border-radius: 0.33rem;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      #8e9598,
      #8e9598,
      #8e9598,
      rgba(0, 0, 0, 0)
    );
  }

  .join {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .tiers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    width: 100%;
    margin: 1rem;
    gap: 1rem;
  }

  .tiers > h3 {
    text-align: center;
    grid-column: 1/3;
  }

  .tier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
