:root {
  --textLarge: 2.2rem;
  --textMedium: 1.7rem;
  --textSmall: 1rem;
  --textXSmall: 0.85rem;
  --textXXSmall: 0.75rem;
  --primary: #51b4a0;
  --secondary: #2d655a;
  --textDark: #000000;
  --textLight: #ffffff;
  --textGrey: #f4f4f4;
  --textFaded: #8bc4b8;
  --shadow: #a2a2a2;
}

@keyframes slideIn {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Mobile Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main > * {
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary);
}

.cardCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 300px;
}

.card-header {
  background-color: var(--secondary);
  color: var(--textLight);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 25px;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary);
  margin-top: 1rem;
  width: 75%;
  background-color: var(--textLight);
  min-height: 150px;
}

.card > *:not(div) {
  padding: 0 1rem;
}

main {
  background-color: var(--textGrey);
}

.profile {
  max-height: 50px;
  border-radius: 100%;
}

.navigationBar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary);
  color: var(--textLight);
  font-weight: bold;
  list-style-type: none;
}

.collapsible {
  width: 100%;
}

.collapsible-content {
  display: flex;
  flex-direction: column;
  animation: slideIn 0.35s ease-out;
}

.collapsible > p {
  background-color: var(--textFaded);
  border-bottom: 1px solid var(--secondary);
  font-size: var(--textMedium);
  margin: 0;
}

.collapsible > p > span {
  float: right;
  margin: 0 1rem;
}

.collapsible > * {
  margin: 0.5rem 1rem;
}

.hidden {
  display: none;
}

h1 {
  font-size: var(--textLarge);
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: var(--textMedium);
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: var(--textSmall);
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: var(--textXSmall);
  color: var(--textFaded);
  margin: 0.5rem 0;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-size: var(--textXXSmall);
  color: var(--textFaded);
  margin: 0.5rem 0;
  font-weight: bold;
  text-align: center;
}

p {
  margin: 0.5rem 0;
  font-size: var(--textSmall);
  text-align: justify;
}

a {
  color: var(--secondary);
  font-size: var(--textSmall);
  margin: 0.5rem 0;
  text-decoration: none;
}

a:hover {
  color: var(--textFaded);
  text-decoration: none;
}
