:root {
  --textLarge: 2rem;
  --textMedium: 1.5rem;
  --textSmall: 1rem;
  --textXSmall: 0.75rem;
  --primary: #000000;
  --secondary: #51b4a0;
  --textDark: #000000;
  --textLight: #ffffff;
  --textFaded: #387e70;
  --shadow: grey;
}

/* Mobile Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main > * {
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary);
  box-shadow: 0 0 1rem var(--shadow);
}

.cardCarousel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--textFaded);
  width: 75%;
  max-height: 200px;
  min-height: 150px;
}

.profile {
  max-height: 50px;
  border-radius: 100%;
}

.navigationBar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--textLight);
  font-size: var(--textLarge);
  font-weight: bold;
  list-style-type: none;
}

h1 {
  font-size: var(--textLarge);
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: var(--textMedium);
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: var(--textSmall);
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: var(--textXSmall);
  color: var(--textFaded);
  font-weight: bold;
  text-align: center;
}

p {
  font-size: var(--textSmall);
  text-align: justify;
}

a {
  color: var(--textDark);
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

a:visited {
  color: var(--textDark);
  text-decoration: none;
}

a:active {
  color: var(--textDark);
  text-decoration: none;
}
