:root {
  --textLarge: 2.2rem;
  --textMedium: 1.7rem;
  --textSmall: 1rem;
  --textXSmall: 0.85rem;
  --textXXSmall: 0.75rem;
  --primary: #51b4a0;
  --secondary: #2d655a;
  --textLight: #f6f6f6;
  --textDark: #191919;
  --textGrey: #f4f4f4;
  --textDarkGrey: #4d4d4d;
  --textFaded: #2d737b;
  --shadow: #a2a2a2;
  --warn: #cf7a6c;
}

@keyframes slideIn {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Mobile Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main > *:not(picture) {
  margin: 1rem;
}

footer {
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: var(--textDark);
  background-color: var(--primary);
}

main > picture > img {
  opacity: 80%;
  pointer-events: none;
  width: 100%;
}

.img-label {
  position: absolute;
  top: 28%;
  right: 5%;
  background-color: var(--primary);
  padding: 0 0.5rem;
  border-radius: 0.33rem;
}

.cardCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 300px;
}

.card-header {
  background-color: var(--secondary);
  color: var(--textLight);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 25px;
  position: relative;
}

#desktop-menu {
  display: none;
}

#mobile-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--textMedium);
  padding: 1rem 1rem;
  color: var(--textLight);
  background-color: var(--secondary);
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary);
  margin-top: 1rem;
  width: 75%;
  background-color: var(--textLight);
  color: var(--textDark);
  min-height: 150px;
  z-index: 2;
}

.card > *:not(div) {
  padding: 0 1rem;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--textGrey);
}

.profile {
  max-height: 50px;
  border-radius: 100%;
}

.collapsible {
  width: 100%;
}

.collapsible-content {
  display: flex;
  flex-direction: column;
  animation: slideIn 0.35s ease-out;
}

.collapsible > p {
  background-color: var(--textFaded);
  border-bottom: 1px solid var(--secondary);
  font-size: var(--textMedium);
  margin: 0;
}

.collapsible > p > span {
  float: right;
  margin: 0 1rem;
}

.collapsible > * {
  margin: 0.5rem 1rem;
}

.map {
  width: 100%;
  justify-self: center;
  align-self: center;
}

.map > iframe {
  width: 600;
  height: 450;
  max-width: 100%;
}

h1 {
  font-size: var(--textLarge);
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: var(--textMedium);
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: var(--textSmall);
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: var(--textXSmall);
  color: var(--textFaded);
  margin: 0.5rem 0;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-size: var(--textXXSmall);
  color: var(--textFaded);
  margin: 0.5rem 0;
  font-weight: bold;
  text-align: center;
}

p {
  margin: 0.5rem 0;
  font-size: var(--textSmall);
  text-align: left;
}

a {
  color: var(--secondary);
  font-size: var(--textSmall);
  margin: 0.5rem 0;
  text-decoration: none;
}

a:hover {
  color: var(--textFaded);
  text-decoration: none;
}
.dark {
  background-color: var(--textDark);
  color: var(--textLight);
}

.darkGrey {
  background-color: var(--textDarkGrey);
  color: var(--textLight);
}

#mobile-menu-wrapper {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 7%;
  right: 5%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary);
  background-color: var(--textLight);
  font-size: var(--textMedium);
  color: var(--secondary);
  width: 100px;
}

#mobile-menu-wrapper > * {
  border-bottom: 1px solid var(--primary);
  font-size: var(--textMedium);
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}

#mobile-menu-wrapper > a:active,
i:active {
  font-size: var(--textMedium);
  background-color: var(--primary);
}

.hidden {
  display: none;
}
