/* Desktop Styles */

@media (min-width: 760px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  main > * {
    margin: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary);
  }

  main > picture {
    justify-self: center;
    align-self: center;
  }

  main > picture > img {
    position: static;
    max-width: 400px;
    opacity: 100%;
    border-radius: 0.33rem;
    background-color: black;
  }

  .img-label {
    position: absolute;
    top: 35%;
    right: 33%;
  }

  #mobile-menu {
    display: none;
  }

  .cardCarousel {
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }

  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--textFaded);
    width: 25%;
    min-height: 150px;
    z-index: 2;
  }

  .profile {
    max-height: 125px;
    border-radius: 0.5rem;
  }

  .navigationBar {
    display: block;
  }

  #desktop-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary);
    font-size: var(--textMedium);
    color: var(--textLight);
  }

  #desktop-menu > * {
    color: var(--textLight);
    font-size: var(--textMedium);
  }

  .map {
    max-width: 600px;
  }
}
